version: '3.8'

services:
  app:
    build: . 
    ports:
      - "3000:3000" 
    volumes:
      - .:/usr/src/app 
      - /usr/src/app/node_modules 
    depends_on:
      - db 
    env_file:
      - .env
    command: npm run start:dev
  db:
    image: postgres:15-alpine 
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data 
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  db_data: